body {
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 5%;
    font-size: 20px;
    padding: 20px;
    color: rgb(70, 64, 64);
}


h1 {
    color: rgb(21, 184, 129); 
    text-align: center;
    text-decoration: strong;
    font-size: 50px;
    margin-bottom: 20px;
    padding: 10px;
}


header {
    margin-bottom: 1%;
    background-color: rgb(169, 240, 222);
    padding: 10px;
    text-align: left;
    border-radius: 10px;
}
header button {
    background-color: rgb(21, 184, 129);
    margin-left: 10%;
    text-align: center;
    color: white;
    border-radius: 5px;
    font-size: medium;
    padding: 10px;
    size: 100px;
    border: none;
    background-origin: padding-box;
}

main {
    padding: 10px;
    border-radius: 10px;
    margin: 1%;
}

main button {
    background-color: rgb(179, 238, 223);
    margin: 10px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

main button:hover {
    background-color: rgb(21, 184, 129);
    color: white;
}

main label {
    display: block;
    margin-top: 15px;
    color: gray;
}

main input[type='text'] {
    background-color: white;
    border-radius: 5px;
    border: 1.5px solid rgb(179, 238, 223);
    color: rgb(70, 64, 64);
    text-decoration: none;
    border-color: rgb(179, 238, 223);
    block-size: 30px;
    width: 30%;
}

main input[type='password'] {
    background-color: white;
    border-radius: 5px;
    border: 1.5px solid rgb(179, 238, 223);
    color: rgb(70, 64, 64);
    text-decoration: none;
    border-color: rgb(179, 238, 223);
    block-size: 30px;
    width: 30%; 
}

main header {
    background-color: rgb(169, 240, 222);
    padding: 10px;
    text-align: left;
    border-radius: 10px;
}

main header a {
    text-decoration: underline;
    color: royalblue;
    font-size: 25px;
    margin-left: 12%;
}
 

